.a {
  display: grid;
  grid: repeat(2, minmax(0, 1fr)) min-content / repeat(3, minmax(0, 1fr));
  gap: 1rem;
  > div:not(:last-of-type) {
    position: relative;
    border: var(--border);
    border-width: 2px;
    border-radius: 4px;
    display: grid;
    grid: minmax(0, 1fr) / 1fr;
  }
}

.d {
  grid-area: 1 / 1 / 2 / 2;
  > canvas {
    width: unset;
    height: 90%;
  }
}

.t {
  grid-area: 2 / 1 / 3 / 2;
  > canvas {
    width: unset;
    height: 90%;
  }
}

.b {
  grid-area: 1 / 2 / 3 / 4;
  padding: 0 0.5rem;
}

.r {
  grid-area: 3 / 1 / 4 / 4;
}

.l {
  position: absolute;
  line-height: 1rem;
  top: -0.5rem;
  left: 1rem;
  padding: 0 0.5rem;
  background-color: #fff;
}
