.a {
  display: grid;
  grid: 1fr min-content / 1fr;
}

.c {
  display: grid;
  grid: repeat(5, minmax(0, 1fr)) / 1fr;
}

.b {
  display: grid;
  grid: minmax(0, 1fr) / 3rem minmax(0, 1fr);

  > div:first-of-type {
    align-self: center;
  }
}

.b + .b {
  border-top: 1px solid #ececec;
}
