.a {
  width: 100%;
  display: grid;
  grid: 1fr / repeat(6, 120px);
  justify-content: space-around;

  > div {
    display: grid;
    gap: 5px;
    justify-items: center;

    > div:last-of-type {
      justify-self: stretch;
      text-align: center;
      padding: 5px 0;
      border: var(--border);
      border-width: 2px;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
