.a {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
  padding: 0 1rem;
  gap: 2rem;

  > img {
    height: 60%;
    margin-right: auto;
  }
}
