.a {
  flex: 1;
  display: grid;
  grid: 70px 1fr / 160px 1fr;
}

.h {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
  padding: 0 1rem;
  gap: 2rem;

  > img {
    height: 60%;
    margin-right: auto;
  }
}

.n {
  grid-area: 2 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ced4da;
  padding: 1rem 0;
  gap: 1rem;

  ion-button {
    width: 120px;
  }
}

.m {
  grid-area: 2 / 2 / -1 / -1;
  overflow: hidden;
}
