.a {
  --header-height: 70px;
  --nav-width: 160px;
  --border: 1px solid #ced4da;

  height: 100%;
  display: grid;
  grid: var(--header-height) minmax(0, 1fr) / var(--nav-width) minmax(0, 1fr);

  > header {
    grid-area: 1 / 1 / 2 / 3;
    border-bottom: var(--border);
  }

  > nav {
    grid-area: 2 / 1 / 3 / 2;
    border-right: var(--border);
  }

  > main {
    grid-area: 2 / 2 / 3 / 3;
  }
}
