.a {
  padding: 1rem;
}

.b {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 1rem;

  &>button {
    width: 120px;
  }
}

.c {
  margin: 1rem;

  &>canvas {
    /* image-rendering: pixelated; */
    width: 256px;
    height: 192px;
    border: 1px solid #000;
  }
}